@{
    ViewData["Title"] = "Sign In";
    Layout= "AuthLayout";
}

<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Sign in</title>
</head>

<body>
    <div class="main">
        <p class="sign" align="center">Sign in</p>
        <form class="form1" id="formLogin">
            <input class="un " type="text" align="center" id="emailLogin" name="emailLogin" placeholder="Email">
            <input class="pass" type="password" align="center" id="passwordLogin" name="passwordLogin" placeholder="Password">
            <button class="submit btn btn-primary" onclick="Login()">Sign in</button>
            @*<a class="submit" align="center">Sign in</a>*@
            <div class="menuAccount" align="center">
                <a style="color: purple !important" href="javascript:void(0)" class="btn bg-transparent" data-toggle="modal" data-target="#regisModal">Register</a>
                <a style="color: purple !important" href="javascript:void(0)" class="btn bg-transparent" data-toggle="modal" data-target="#forgotpassword">Forgot Password?</a>
            </div>
        </form>
    </div>
</body>

<!--MODAL REGISTER-->
<div class="modal fade" id="regisModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLiveLabel">Register Employee</h5>
                    <button id="buttonClose" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="registerform" action="Account/Register">
                        <div class="row">
                            <div class="col-6">

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="fisrtName" name="fisrtName" placeholder="First Name">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Birth Date</label>
                                    <input type="date" class="form-control" id="birthDate" name="birthDate" placeholder="Birth Date">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Gender</label>
                                    <div style="display:flex">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
                                            <label class="form-check-label" for="male">Male</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
                                            <label class="form-check-label" for="female">Female</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Matirial Status</label>
                                    <div style="display:flex">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="materialStatus" id="single" value="Single">
                                            <label class="form-check-label" for="single">Single</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="materialStatus" id="married" value="Married">
                                            <label class="form-check-label" for="married">Married</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6">

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Numbe">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Join Date</label>
                                    <input type="date" class="form-control" id="joinDate" name="joinDate" placeholder="Join Datee">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Department ID</label>
                                    <input type="text" class="form-control" id="departmentId" name="departmentId" placeholder="Department ID">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                </div>

                            </div>

                        </div>

                        <div class="modal-footer">
                            <button id="submit" class="btn btn-primary" onclick="Submit()">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!--MODAL FORGOT-->
<div class="modal fade" id="forgotpassword" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Forgot Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="forgotform" action="Account/ForgotPassword">
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="emailforgot" name="emailforgot">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ForgotPassword()">Submit</button>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #F3EBF6;
        font-family: 'Ubuntu', sans-serif;
    }

    .main {
        background-color: #FFFFFF;
        width: 400px;
        height: 400px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

    .sign {
        padding-top: 40px;
        color: #8C55AA;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }

    .un {
        width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 50px;
        margin-left: 46px;
        text-align: center;
        margin-bottom: 27px;
        font-family: 'Ubuntu', sans-serif;
    }

    form.form1 {
        padding-top: 40px;
    }

    .pass {
        width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 50px;
        margin-left: 46px;
        text-align: center;
        margin-bottom: 27px;
        font-family: 'Ubuntu', sans-serif;
    }


        .un:focus, .pass:focus {
            border: 2px solid rgba(0, 0, 0, 0.18) !important;
        }

    .submit {
        cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #9C27B0, #E040FB);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

    .menuAccount {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        padding-top: 15px;
    }

    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        text-decoration: none
    }

    @@media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
    }
</style>

@section scripts{

    <script>
        //session
        var retrievedObject = localStorage.getItem('LoginRes');
        console.log('retrievedObject: ', JSON.parse(retrievedObject));
        currentLocation = window.location.pathname;
        console.log(currentLocation);

        if (retrievedObject != null) {
            window.location.replace('https://localhost:44350' + retrievedObject.replace(/^"(.*)"$/, '$1'))
        }

        $(document).ready(function () {
            $("#formLogin").submit(function (event) {
                event.preventDefault();
            });
            $("#registerform").submit(function (event) {
                event.preventDefault();
            });
        });

        function Login() {
            var Login = new Object();
            Login.Email = $("#emailLogin").val();
            Login.Password = $("#passwordLogin").val();
            console.log(Login);
            $.ajax({
                type: 'post',
                url: '/Account/Login',
                data: Login
            }).done((result) => {
                console.log("ok", result);
                if (result == '/Employee' || result == '/Manager' || result == '/Admin' || result == '/HRD') {
                    alert("Successed to Login");
                    localStorage.setItem('LoginRes', JSON.stringify(result));
                    window.location.href = result;
                }
                else {
                    alert("Failed to Login");
                    $("#emailLogin").val(null);
                    $("#passwordLogin").val(null);
                }
            }).fail((result) => {
                console.log(result);
                alert("Failed to Login");
            })
        }

        function Submit() {
            var User = new Object();
            User.FirstName = $("#fisrtName").val();
            User.LastName = $("#lastName").val();
            User.BirthDate = $("#birthDate").val();
            User.Gender = $('input[name=gender]:checked').val()
            User.Address = $("#address").val();
            User.MaritialStatus = $('input[name=materialStatus]:checked').val()
            User.PhoneNumber = $("#phoneNumber").val();
            User.Email = $("#email").val();
            User.JoinDate = $("#joinDate").val();
            User.DepartmentId = $("#departmentId").val();
            User.Password = $("#password").val();
            console.log(User);
            $.ajax({
                type: 'POST',
                url: '/Account/Register',
                data: User
            }).done((result) => {
                if (result == 200) {
                    console.log("Successed", result);
                    alert("Successed to Add Data!");
                    $("#fisrtName").val(null);
                    $("#lastname").val(null);
                    $("#birthdate").val(null);
                    $('input[name=gender]:checked').val(null);
                    $("#address").val(null);
                    $('input[name=materialStatus]:checked').val(null);
                    $("#phoneNumber").val(null);
                    $("#email").val(null);
                    $("#joinDate").val(null);
                    $("#departmentId").val(null);
                    $("#password").val(null);
                    $('#regisModal').modal('hide');
                }
            }).fail((result) => {
                console.log("Failed", result);
                alert("Failed to Add Data!");
            })
        }

        function ForgotPassword() {
            var User = new Object();
            User.Email = $("#emailforgot").val();
            $.ajax({
                type: 'post',
                url: '/Account/ForgotPassword',
                data: User
            }).done((result) => {
                if (result == 200) {
                    alert("Check Your Email for New Password!");
                    $('#forgotpassword').modal('hide');
                }
            }).fail((result) => {
                console.log(result);
                alert("Failed to Send Email!");
            })
        }
    </script>

}

