@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "DashboardLayout";
}
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img src="~/AssetAdminLTE/dist/img/logo MII.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Leave Request</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            @*<div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/AssetAdminLTE/dist/img/3x4.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Hafidz Naufal</a>
                    </div>
                </div>
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/AssetAdminLTE/dist/img/avatar2.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Khanza Rahmasila</a>
                    </div>
                </div>*@

            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index2">
                            <i class="nav-icon fas fa-user"></i><span class="brand-text font-weight-light">Data Employee</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
        <div class="container-fluid">
            <h4 class="text-muted note-fontsize-10 m-b-5 text-center">Welcome</h4>
            <div class="container mt-5">
                <table id="myTable" class="table table-striped table-bordered dataTable container">
                    <thead class="thead-light">
                        <tr role="row">
                            <th>No</th>
                            <th>NIK</th>
                            <th>Name</th>
                            <th>Birth Date</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Maritial Status</th>
                            <th>Phone Numbers</th>
                            <th>Email</th>
                            <th>Join Date</th>
                            <th>R-Quota</th>
                            <th>NIK Manager</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAdd" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLiveLabel">Update Employee</h5>
                        <button id="buttonClose" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="buttonUpdate" action="Admin/Edit">
                            @*<form id="buttonUpdate" action="Admin/Edit">*@
                            <div class="row">
                                <div class="col-6">

                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">NIK</label>
                                        <input type="text" class="form-control" id="nik" name="nik" placeholder="NIK">
                                    </div>

                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">First Name</label>
                                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
                                    </div>

                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Birth Date</label>
                                        <input type="date" class="form-control" id="birthDate" name="birthDate" placeholder="Birth Date">
                                    </div>

                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Gender</label>
                                        <div style="display:flex">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
                                                <label class="form-check-label" for="male">Male</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
                                                <label class="form-check-label" for="female">Female</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Address</label>
                                        <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                                    </div>

                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Maritial Status</label>
                                        <div style="display:flex">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="maritialStatus" id="single" value="Single">
                                                <label class="form-check-label" for="single">Single</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="maritialStatus" id="married" value="Married">
                                                <label class="form-check-label" for="married">Married</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">NIK Manager</label>
                                        <input type="text" class="form-control" id="niK_Manager" name="niK_Manager" placeholder="NIK Manager">
                                    </div>


                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Last Name</label>
                                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                                    </div>

                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Phone Number</label>
                                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Numbe">
                                    </div>

                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                    </div>

                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Join Date</label>
                                        <input type="date" class="form-control" id="joinDate" name="joinDate" placeholder="Join Datee">
                                    </div>

                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Remaining Quota</label>
                                        <input type="text" class="form-control" id="remainingQuota" name="remainingQuota" placeholder="Remaining Quota">
                                    </div>

                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" id="submit" class="btn btn-primary" onclick="Submit()">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
@section scripts {
    <script>
        var retrievedObject = localStorage.getItem('LoginRes');
        console.log('retrievedObject: ', JSON.parse(retrievedObject));
        currentLocation = window.location.pathname;
        console.log(currentLocation);

        if (retrievedObject != '"/Admin"') {
            window.location.replace('https://localhost:44350' + retrievedObject.replace(/^"(.*)"$/, '$1'))
        }

        $(document).ready(function () {

            $("#myTable").DataTable({
                "filter": true,
                "orderMulti": false,
                "ajax": {
                    "url": "https://localhost:44338/api/Employee",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "columnDefs": [
                    {
                        "targets": [5,7,9],
                        "visible": false,

                    },
                    {
                        "targets": [0, 2],
                        "searchable": true
                    },
                    {
                        "targets": [0],
                        "searchable": false,
                        "orderable": false
                    },
                ],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        "data": 'nik'
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return row["firstName"] + ' ' + row["lastName"];
                            Url
                        }
                    },
                    {
                        "data": 'birthDate',
                        render: function (data, type, row) {
                            let date = moment(row.BirthDate).format('DD MMMM YYYY')
                            return date
                        }
                    },
                    {
                        "data": 'gender'
                    },
                    {
                        "data": 'address'
                    },
                    {
                        "data": 'maritialStatus'
                    },
                    {
                        "data": 'phoneNumber'
                    },
                    {
                        "data": 'email'
                    },
                    {
                        "data": 'joinDate',
                        render: function (data, type, row) {
                            let date = moment(row.JoinDate).format('DD MMMM YYYY')
                            return date
                        }
                    },
                    {
                        "data": 'remainingQuota'
                    },
                    {
                        "data": 'niK_Manager'
                    },
                    {
                        "data": "nik",
                        "render": function (data, type, row, meta) {
                            return '<button id = "buttonUpdate" class="btn btn-primary" data-toggle="modal" style="margin-right : 5px;" data-target="#modalEdit" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Data"><i class="fa fa-edit"></i></button>' +
                                '<button id="deleteTable" class="btn btn-danger" style="margin-left : 5px;" onclick="Delete(' + row['nik'] + ')" data-target="#modalDelete" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Data"><i class="fa fa-trash"></i></button>';
                        },
                        "orderable": false,
                        "searchable": false
                    }
                ]
            });
        });

        $("#myTable").on('click', '#buttonUpdate', function () {
            var data = $("#myTable").DataTable().row($(this).parents('tr')).data();
            console.log(data);
            $("#nik").val(data.nik);
            $("#firstName").val(data.firstName);
            $("#lastName").val(data.lastName);
            let birth = moment(data.birthDate).format("YYYY-MM-DD")
            $("#birthDate").val(birth);
            /*$("#gender").val(data.gender);*/
            $(`input[name='gender'][value='${data.gender}']`).prop('checked', true)
            $("#address").val(data.address);
            /*$("#maritialStatus").val(data.maritialStatus);*/
            $(`input[name='maritialStatus'][value='${data.maritialStatus}']`).prop('checked', true)
            $("#phoneNumber").val(data.phoneNumber);
            $("#email").val(data.email);
            let joindate = moment(data.JoinDate).format("YYYY-MM-DD")
            $("#joinDate").val(joindate);
            $("#remainingQuota").val(data.remainingQuota);
            $("#niK_Manager").val(data.niK_Manager);
            $("#modalAdd").modal("show");

        });

        function Submit() {
            var User = new Object();
            User.nik = $("#nik").val();
            User.firstName = $("#firstName").val();
            User.lastName = $("#lastName").val();
            User.birthDate = $("#birthDate").val();
            User.gender = $("input[type='radio'][name='gender']:checked").val()
            User.address = $("#address").val();
            User.maritialStatus = $("input[type='radio'][name='maritialStatus']:checked").val()
            User.phoneNumber = $("#phoneNumber").val();
            User.email = $("#email").val();
            User.JoinDate = $("#joinDate").val();
            User.remainingQuota = $("#remainingQuota").val();
            User.nik_Manager = $("#niK_Manager").val();
            console.log(User);
            $.ajax({
                type: 'PUT',
                url: 'https://localhost:44338/api/Employee',
                data: JSON.stringify(User),
                contentType : "application/json; charset=utf-8",
                datatype: 'json'
            }).done((result) => {
                    location.reload()
                    console.log("Successed", result);
                    $('#modalAdd').hide();
                    /*alert("Successed to Update Data!");*/
                    $("#nik").val(null);
                    $("#fisrtName").val(null);
                    $("#lastName").val(null);
                    $("#birthDate").val(null);
                    $('input[name=gender]:checked').val(null);
                    $("#address").val(null);
                    $('input[name=maritialStatus]:checked').val(null);
                    $("#phoneNumber").val(null);
                    $("#email").val(null);
                    $("#joinDate").val(null);
                    $("#remainingQuota").val(null);
                    $("#niK_Manager").val(null);
               
            }).fail((result) => {
                console.log("Failed", result);
                alert("Failed to Add Data!");
            })
        }

        let Insert = (User) => {
            var User = new Object();
            User.Name = $("#name").val();
            User.BirthDate = $("#birthdate").val();
            User.Gender = $("input[type='radio'][name='gender']:checked").val();
            User.Email = $("#email").val();
            $.ajax({
                url: '/Employee/Insert',
                type: 'POST',
                data: User,

            }).done((result) => {
                console.log(result);
                if (result == 200) {
                    $("#modalAdd").modal('hide');
                    swal({
                        title: "Success!",
                        text: "Data added to Database !",
                        icon: "success"
                    }
                    ).then(() => { location.reload() })
                }
            }).fail((result) => {
                console.log(result);
                alert("Failed to Add Data!");
            })
        }

        let Delete = (id) => {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this data!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: `/Admin/Delete/${id}`,
                        type: 'DELETE',
                        success: (data) => {
                            console.log(data)
                            if (data == 200) {
                                swal("Poof! Your data has been deleted!", {
                                    icon: "success",
                                }).then(() => { location.reload() })
                            } else {
                                swal({
                                    title: "Error",
                                    text: "An error occured when deleting data",
                                    icon: "warning",
                                    buttons: true,
                                    dangerMode: true
                                }).then(() => { location.reload() })
                            }
                        }
                    })
                }
            })
        }
        //$("#myTable").on('click', '#buttonUpdate', function () {
        //        var data = $("#myTable").DataTable().row($(this).parents('tr')).data();
        //        console.log(data);
        //        $("#Request").modal("show");
        //        $("#fullname").val(data.FullName);
        //        $("#nik").val(data.NIK);
        //        $("#leavecategory").val(data.LeaveCategory);
        //        $("#startdate").val(moment(data.StartDate).format('DD MMMM YYYY'));
        //        $("#enddate").val(moment(data.EndDate).format('DD MMMM YYYY'));
        //        $("#reasonrequest").val(data.ReasonRequest);
        //        $("#email").val(data.Email);
        //        $("#notes").val(data.Notes);
        //        $("#statusRequest").val(data.StatusRequest);
        //        $("#id").val(data.Id);
        //});

        let Edit = (nik) => {
            $.ajax({
                type: 'GET',
                url: 'Admin/Edit',
                success: (data) => {
                    let myModal = $('#modalAdd')
                    $('#id').val(data.id)
                    $('#name').val(data.name)
                    let Birth = moment(data.birthDate).format("YYYY-MM-DD")
                    $('#birthdate').val(Birth)
                    $(`input[name='gender'][value='${data.gender}']`).prop('checked', true)
                    $('#email').val(data.email)
                    myModal.modal('show')
                },
                error: (data) => {
                    console.log(data);
                }
            })
        }

        let Update = (User) => {
            console.log(User);
            $.ajax({
                url: 'https://localhost:44338/api/Employee',
                type: 'Put',
                data: User,
                success: (data) => {
                    if (data == 200) {
                        $("#modalAdd").modal('hide');
                        swal({
                            title: "Success!",
                            text: "Data Has Been Edited Successful !",
                            icon: "success"
                        }
                        ).then(() => { location.reload() })
                    } else {
                        console.log(data);
                        alert("Failed to Update Data!");
                    }
                },
                error: (data) => {
                    console.log(data);
                    alert("Failed to Update Data!")
                }
            })
        }
        let ClearData = () => {
            $('#id').val("")
            $('#name').val("")
            $('#birthdate').val("")
            $(`input[name='gender']`).prop('checked', false)
            $('#email').val("")
        }
    </script>
}
